<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand text-success"> <%= user.name %></a>
    <form class="">
      <a class="btn btn-outline-success my-2 my-sm-0" href="/users/logout">Logout</a>
    </form>
  </nav>
  <main role="main" class="inner cover">
    <h1 class="cover-heading mt-3">Passport.js is Awsome.</h1>
    <p class="lead mt-4">
      Passport is authentication middleware for Node.js.
      Extremely flexible and modular, Passport can be unobtrusively dropped in to any Express-based web application.
      A comprehensive set of strategies support authentication using a username and password, Facebook, Twitter, and
      more.</p>
    <p class="lead">
      <a href="http://www.passportjs.org/" class="btn btn-lg btn-info">Learn more</a>
    </p>
  </main>
</div>